.content-wrapper {
    background-color: #efefef;
}

.ape-logo {
    height: 30px;
}

df-messenger {
    --df-messenger-button-titlebar-color: #1D5692;
}

.chart-wrapper {
    height: calc(100vh - 70px);
}

.my-jumbotron {
    background-color: #e9ecef;
}

div#navbarNavDropdown {
    flex-grow: 0;
}

.about {
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #f3f3f3;
}

.virus {
    background-color: #e3e4e0;
}