:host> :host div.chat-wrapper[opened="true"] {
    max-height: 30vh !important;
    min-height: 300px !important;
}

.ape-logo {
    height: 30px;
}

df-messenger {
    --df-messenger-button-titlebar-color: #1D5692;
}

.chart-wrapper {
    height: calc(100vh - 70px);
}

.my-jumbotron {
    background-color: #e9ecef;
}

div#navbarNavDropdown {
    flex-grow: 0;
}